@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: work sans, sans-serif;
  display: inline-flex;
  padding: 167px 300px 184px 300px;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.container {
  display: flex;
  flex-direction: colum;
  align-items: center;
  gap: 48px;
}
